# MLB Playoff Simulator

Create random series function

In [191]:
import random as ran
import pandas as pd

def series_random(Team1, Team2, seriesLength):
    Team1wins = 0
    Team2wins = 0
    needed = seriesLength // 2 + 1

    while Team1wins < needed and Team2wins < needed:
        winner = ran.choice([Team1, Team2])
        if winner == Team1:
            Team1wins += 1
            #print(f'{Team1} wins game {Team1wins + Team2wins}')
        else:
            Team2wins += 1
            #print(f'{Team2} wins game {Team2wins + Team1wins}')

    if Team1wins == needed:
        #print(f'{Team1} win the series {Team1wins} games to {Team2wins}.')
        seriesWinner = Team1
    else:
        #print(f'{Team2} win the series {Team2wins} games to {Team1wins}.')
        seriesWinner = Team2

    return seriesWinner

In [194]:
series_random('St Louis Cardinals', 'Chicago Cubs', 7)

'St Louis Cardinals'

Apply random series function to MLB playoff format

In [80]:
NLteam1 = 'Atlanta Braves'
NLteam2 = 'Los Angeles Dodgers'
NLteam3 = 'Milwaukee Brewers'
NLteam4 = 'Philladelphia Phillies'
NLteam5 = 'Miami Marlins'
NLteam6 = 'Arizona Diamondbacks'

ALteam1 = 'Baltimore Orioles'
ALteam2 = 'Houston Astros'
ALteam3 = 'Minnesota Twins'
ALteam4 = 'Tampa Bay Rays'
ALteam5 = 'Texas Rangers'
ALteam6 = 'Toronto Blue Jays'

NLWCwinner1 = series_random(NLteam6, NLteam3, 3)
NLWCwinner2 = series_random(NLteam5, NLteam4, 3)
ALWCwinner1 = series_random(ALteam6, ALteam3, 3)
ALWCwinner2 = series_random(ALteam5, ALteam4, 3)

NLDSwinner1 = series_random(NLteam2, NLWCwinner1, 5)
NLDSwinner2 = series_random(NLteam1, NLWCwinner2, 5)
ALDSwinner1 = series_random(ALteam2, ALWCwinner1, 5)
ALDSwinner2 = series_random(ALteam1, ALWCwinner2, 5)

NLCSwinner = series_random(NLDSwinner1, NLDSwinner2, 7)
ALCSwinner = series_random(ALDSwinner1, ALDSwinner2, 7)

WSwinner = series_random(NLCSwinner, ALCSwinner, 7)

print(f'The {WSwinner} are World Champs!')

The Milwaukee Brewers are World Champs!

Create random playoff function

In [75]:
def playoff_random(NLteam1, NLteam2, NLteam3, NLteam4, NLteam5, NLteam6,
            ALteam1, ALteam2, ALteam3, ALteam4, ALteam5, ALteam6):
    
    NLWCwinner1 = series_random(NLteam6, NLteam3, 3)
    NLWCwinner2 = series_random(NLteam5, NLteam4, 3)
    ALWCwinner1 = series_random(ALteam6, ALteam3, 3)
    ALWCwinner2 = series_random(ALteam5, ALteam4, 3)

    NLDSwinner1 = series_random(NLteam2, NLWCwinner1, 5)
    NLDSwinner2 = series_random(NLteam1, NLWCwinner2, 5)
    ALDSwinner1 = series_random(ALteam2, ALWCwinner1, 5)
    ALDSwinner2 = series_random(ALteam1, ALWCwinner2, 5)

    NLCSwinner = series_random(NLDSwinner1, NLDSwinner2, 7)
    ALCSwinner = series_random(ALDSwinner1, ALDSwinner2, 7)

    WSwinner = series_random(NLCSwinner, ALCSwinner, 7)

    return WSwinner

In [223]:
champs = playoff_random(NLteam1 = 'Atlanta Braves',
                NLteam2 = 'Los Angeles Dodgers',
                NLteam3 = 'Milwaukee Brewers',
                NLteam4 = 'Philladelphia Phillies',
                NLteam5 = 'Miami Marlins',
                NLteam6 = 'Arizona Diamondbacks',
                ALteam1 = 'Baltimore Orioles',
                ALteam2 = 'Houston Astros',
                ALteam3 = 'Minnesota Twins',
                ALteam4 = 'Tampa Bay Rays',
                ALteam5 = 'Texas Rangers',
                ALteam6 = 'Toronto Blue Jays')

print(f'The {champs} are World Series Champions!')

The Milwaukee Brewers are World Series Champions!

Create random playoff sim, which runs the random playoff function a given number of iterations and creates a data frame output

In [160]:
def playoff_sim_random(iterations, NLteam1, NLteam2, NLteam3, NLteam4, NLteam5, NLteam6,
            ALteam1, ALteam2, ALteam3, ALteam4, ALteam5, ALteam6):

    result_counts = {}
    i = 1
    iterations = iterations

    for i in range(iterations):
        result = playoff_random(NLteam1 = NLteam1,
                                NLteam2 = NLteam2,
                                NLteam3 = NLteam3,
                                NLteam4 = NLteam4,
                                NLteam5 = NLteam5,
                                NLteam6 = NLteam6,
                                ALteam1 = ALteam1,
                                ALteam2 = ALteam2,
                                ALteam3 = ALteam3,
                                ALteam4 = ALteam4,
                                ALteam5 = ALteam5,
                                ALteam6 = ALteam6)

        if result in result_counts:
            result_counts[result] += 1
        else:
            result_counts[result] = 1

    dataFrame = pd.DataFrame({'Team': list(result_counts.keys()), 'Wins': list(result_counts.values())})
    dataFrame['Percentage'] = dataFrame['Wins'] / iterations * 100
    dataFrame = dataFrame.sort_values(by = 'Wins', ascending = False)

    return(dataFrame)

In [163]:
playoff_sim_random(iterations = 1000,
                   NLteam1 = 'Atlanta Braves',
                    NLteam2 = 'Los Angeles Dodgers',
                    NLteam3 = 'Milwaukee Brewers',
                    NLteam4 = 'Philladelphia Phillies',
                    NLteam5 = 'Miami Marlins',
                    NLteam6 = 'Arizona Diamondbacks',
                    ALteam1 = 'Baltimore Orioles',
                    ALteam2 = 'Houston Astros',
                    ALteam3 = 'Minnesota Twins',
                    ALteam4 = 'Tampa Bay Rays',
                    ALteam5 = 'Texas Rangers',
                    ALteam6 = 'Toronto Blue Jays')

                      Team  Wins  Percentage
3        Baltimore Orioles   138        13.8
4           Atlanta Braves   129        12.9
11     Los Angeles Dodgers   126        12.6
6           Houston Astros   110        11.0
0           Tampa Bay Rays    76         7.6
7   Philladelphia Phillies    68         6.8
1            Miami Marlins    67         6.7
9        Milwaukee Brewers    62         6.2
2     Arizona Diamondbacks    60         6.0
5        Toronto Blue Jays    60         6.0
10         Minnesota Twins    53         5.3
8            Texas Rangers    51         5.1

## Weighted by Regular Season Wins

Repeat the same process, but weight the random function by each team's regular season win total

In [139]:
def series_weighted(Team1, Team1regwins, Team2, Team2regwins, seriesLength):
    Team1wins = 0
    Team2wins = 0
    weights = [(Team1regwins / (Team1regwins + Team2regwins)), (Team2regwins / (Team2regwins + Team1regwins)) ]
    needed = seriesLength // 2 + 1

    while Team1wins < needed and Team2wins < needed:
        winner = ran.choices([Team1, Team2], weights = weights, k=1)
        if winner[0] == Team1:
            Team1wins += 1
            #print(f'{Team1} wins game {Team1wins + Team2wins}')
        else:
            Team2wins += 1
            #print(f'{Team2} wins game {Team2wins + Team1wins}')

    if Team1wins == needed:
        #print(f'{Team1} win the series {Team1wins} games to {Team2wins}.')
        seriesWinner = Team1
    else:
        #print(f'{Team2} win the series {Team2wins} games to {Team1wins}.')
        seriesWinner = Team2

    return seriesWinner

Demonstrate weighted series by iterating

In [166]:
result_counts = {}
i = 1
iterations = 10000

for i in range(iterations):
    result = series_weighted(Team1 = 'Atlanta Braves', Team1regwins = 104, 
                             Team2 = 'Boston Red Sox', Team2regwins = 78, 
                             seriesLength = 7)
    if result in result_counts:
        result_counts[result] += 1
    else:
        result_counts[result] = 1

dataFrame = pd.DataFrame({'Team': list(result_counts.keys()), 'Wins': list(result_counts.values())})
dataFrame['Percentage'] = dataFrame['Wins'] / iterations * 100
dataFrame = dataFrame.sort_values(by = 'Wins', ascending = False)

print(dataFrame)

             Team  Wins  Percentage
1  Atlanta Braves  6523       65.23
0  Boston Red Sox  3477       34.77

weighted playoff

In [168]:
def playoff_weighted(NLteam1, NLteam1regwins,
                     NLteam2, NLteam2regwins,
                     NLteam3, NLteam3regwins,
                     NLteam4, NLteam4regwins,
                     NLteam5, NLteam5regwins,
                     NLteam6, NLteam6regwins,
                     ALteam1, ALteam1regwins,
                     ALteam2, ALteam2regwins,
                     ALteam3, ALteam3regwins,
                     ALteam4, ALteam4regwins,
                     ALteam5, ALteam5regwins,
                     ALteam6, ALteam6regwins):
    
    winsDict = {NLteam1: NLteam1regwins,
                NLteam2: NLteam2regwins,
                NLteam3: NLteam3regwins,
                NLteam4: NLteam4regwins,
                NLteam5: NLteam5regwins,
                NLteam6: NLteam6regwins,
                ALteam1: ALteam1regwins,
                ALteam2: ALteam2regwins,
                ALteam3: ALteam3regwins,
                ALteam4: ALteam4regwins,
                ALteam5: ALteam5regwins,
                ALteam6: ALteam6regwins}
    
    NLWCwinner1 = series_weighted(NLteam6, NLteam6regwins, NLteam3, NLteam3regwins, 3)
    NLWCwinner2 = series_weighted(NLteam5, NLteam5regwins, NLteam4, NLteam4regwins, 3)
    ALWCwinner1 = series_weighted(ALteam6, ALteam6regwins, ALteam3, ALteam3regwins, 3)
    ALWCwinner2 = series_weighted(ALteam5, ALteam5regwins, ALteam4, ALteam4regwins, 3)

    NLDSwinner1 = series_weighted(NLteam2, NLteam2regwins, NLWCwinner1, winsDict[NLWCwinner1], 5)
    NLDSwinner2 = series_weighted(NLteam1, NLteam1regwins, NLWCwinner2, winsDict[NLWCwinner2], 5)
    ALDSwinner1 = series_weighted(ALteam2, ALteam2regwins, ALWCwinner1, winsDict[ALWCwinner1], 5)
    ALDSwinner2 = series_weighted(ALteam1, ALteam1regwins, ALWCwinner2, winsDict[ALWCwinner2], 5)

    NLCSwinner = series_weighted(NLDSwinner1, winsDict[NLDSwinner1], NLDSwinner2, winsDict[NLDSwinner2], 7)
    ALCSwinner = series_weighted(ALDSwinner1, winsDict[ALDSwinner1], ALDSwinner2, winsDict[ALDSwinner2], 7)

    WSwinner = series_weighted(NLCSwinner, winsDict[NLCSwinner], ALCSwinner, winsDict[ALCSwinner], 7)

    return WSwinner

In [225]:
champs = playoff_weighted(NLteam1 = 'Atlanta Braves', NLteam1regwins = 104,
                            NLteam2 = 'Los Angeles Dodgers', NLteam2regwins = 100,
                            NLteam3 = 'Milwaukee Brewers', NLteam3regwins = 92,
                            NLteam4 = 'Philladelphia Phillies', NLteam4regwins = 90,
                            NLteam5 = 'Miami Marlins', NLteam5regwins = 84,
                            NLteam6 = 'Arizona Diamondbacks', NLteam6regwins = 84,
                            ALteam1 = 'Baltimore Orioles', ALteam1regwins = 101,
                            ALteam2 = 'Houston Astros', ALteam2regwins = 90,
                            ALteam3 = 'Minnesota Twins', ALteam3regwins = 87,
                            ALteam4 = 'Tampa Bay Rays', ALteam4regwins = 99,
                            ALteam5 = 'Texas Rangers', ALteam5regwins = 90,
                            ALteam6 = 'Toronto Blue Jays', ALteam6regwins = 89)

print(f'The {champs} are World Series Champions!')

The Los Angeles Dodgers are World Series Champions!

weighted playoff with iterations

In [178]:
def playoff_sim_weighted(iterations, 
                         NLteam1, NLteam1regwins,
                        NLteam2, NLteam2regwins,
                        NLteam3, NLteam3regwins,
                        NLteam4, NLteam4regwins,
                        NLteam5, NLteam5regwins,
                        NLteam6, NLteam6regwins,
                        ALteam1, ALteam1regwins,
                        ALteam2, ALteam2regwins,
                        ALteam3, ALteam3regwins,
                        ALteam4, ALteam4regwins,
                        ALteam5, ALteam5regwins,
                        ALteam6, ALteam6regwins):

    result_counts = {}
    i = 1
    iterations = iterations

    for i in range(iterations):
        result = playoff_weighted(NLteam1 = NLteam1, NLteam1regwins = NLteam1regwins,
                                NLteam2 = NLteam2, NLteam2regwins = NLteam2regwins,
                                NLteam3 = NLteam3, NLteam3regwins = NLteam3regwins,
                                NLteam4 = NLteam4, NLteam4regwins = NLteam4regwins,
                                NLteam5 = NLteam5, NLteam5regwins = NLteam5regwins,
                                NLteam6 = NLteam6, NLteam6regwins = NLteam6regwins,
                                ALteam1 = ALteam1, ALteam1regwins = ALteam1regwins,
                                ALteam2 = ALteam2, ALteam2regwins = ALteam2regwins,
                                ALteam3 = ALteam3, ALteam3regwins = ALteam3regwins,
                                ALteam4 = ALteam4, ALteam4regwins = ALteam4regwins,
                                ALteam5 = ALteam5, ALteam5regwins = ALteam5regwins,
                                ALteam6 = ALteam6, ALteam6regwins = ALteam6regwins,)

        if result in result_counts:
            result_counts[result] += 1
        else:
            result_counts[result] = 1

    dataFrame = pd.DataFrame({'Team': list(result_counts.keys()), 'Wins': list(result_counts.values())})
    dataFrame['Percentage'] = dataFrame['Wins'] / iterations * 100
    dataFrame = dataFrame.sort_values(by = 'Wins', ascending = False)

    return(dataFrame)

In [220]:
playoff_sim_weighted(iterations = 10000,
                     NLteam1 = 'Atlanta Braves', NLteam1regwins = 104,
                    NLteam2 = 'Los Angeles Dodgers', NLteam2regwins = 100,
                    NLteam3 = 'Milwaukee Brewers', NLteam3regwins = 92,
                    NLteam4 = 'Philladelphia Phillies', NLteam4regwins = 90,
                    NLteam5 = 'Miami Marlins', NLteam5regwins = 84,
                    NLteam6 = 'Arizona Diamondbacks', NLteam6regwins = 84,
                    ALteam1 = 'Baltimore Orioles', ALteam1regwins = 101,
                    ALteam2 = 'Houston Astros', ALteam2regwins = 90,
                    ALteam3 = 'Minnesota Twins', ALteam3regwins = 87,
                    ALteam4 = 'Tampa Bay Rays', ALteam4regwins = 99,
                    ALteam5 = 'Texas Rangers', ALteam5regwins = 90,
                    ALteam6 = 'Toronto Blue Jays', ALteam6regwins = 89)

                      Team  Wins  Percentage
3           Atlanta Braves  1758       17.58
2        Baltimore Orioles  1583       15.83
5      Los Angeles Dodgers  1459       14.59
1           Houston Astros  1161       11.61
7           Tampa Bay Rays   793        7.93
9        Milwaukee Brewers   562        5.62
0   Philladelphia Phillies   526        5.26
6            Texas Rangers   512        5.12
10       Toronto Blue Jays   496        4.96
11         Minnesota Twins   462        4.62
4            Miami Marlins   353        3.53
8     Arizona Diamondbacks   335        3.35